aiohttp==2.0.3
argparse==1.4.0
asyncpg==0.12.0
boto3==1.4.4
botocore==1.5.33
humanize==0.5.1
ipython==6.0.0
numpy==1.12.1
pandas==0.19.2
psycopg2==2.7.1
pytest==3.0.7
pytest-cov==2.5.1
ujson==1.35
uvloop==0.8.0
SQLAlchemy==1.1.6
graphviz==0.7.1
